* {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

#clock {
    padding-right: 12px;
}

#battery {
    padding-right: 8px;
}

#network,
#bluetooth {
    padding-right: 12px;
}

#network.disconnected,
#bluetooth.off,
#bluetooth.disabled {
    color: #888888;
}

#battery.warning  { color: #febc2e; }
#battery.critical { color: #ff5f57; }

